$small-screen: 768px;
$large-screen: 1200px;

@mixin flex-row-reverse {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

@mixin flex-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.container {
  width: 85%;
  @media (max-width: $small-screen) {
    padding: 5%;
  }
  @media (min-width: $small-screen) {
    .header-nav {
      margin: 0;
      header {
        @include flex-row-reverse;
      }
      nav {
        @include flex-row;
        a {
          margin: 0 1rem 0 1rem;
        }
      }
    }
    .plans {
      @include flex-row;
      flex-wrap: wrap;
      .card {
        width: 48%;
        margin: 1%;
      }
    }
  }
  @media (min-width: $large-screen) {
    .plans {
      @include flex-row;
      flex-wrap: nowrap;
      .card {
        height: 15rem;
      }
    }
  }
}
